@{
    ViewData["Title"] = "Index";
    var roleId = ViewBag.roleId;
}

@using FagElGamous.Areas.Identity.Data

@model IEnumerable<FagElGamousUser>
<br />
<br />
<h1 class="text-center">All Users</h1>
<p>Below is a summary of registered users. In order to see what role each user has, view the user summary.
    To add or remove a user from a role, navigate to the "manage user roles" tab.</p>
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr class="h5">
            <td>Name</td>
            <td>Email</td>
            <td>Username</td>
            <td>User Summary</td>
            <td>Remove User</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var usr in Model)
        {
        <tr>
            <td>@usr.UserFirstName @usr.UserLastName</td>
            <td>@usr.Email</td>
            <td>@usr.UserName</td>
            @*<td>
            <form asp-action="editUserForm" method="post" asp-controller="Role">
                <button class="btn btn-sm btn-primary" type="submit">Edit</button>
                <input type="hidden" value="@usr.Id" name="userId" />
            </form>
        </td>*@
            <td>
                <a asp-action="EditUser" asp-controller="Administration"
                   asp-route-id="@usr.Id" class="btn btn-info">View</a>
            </td>
            @if (usr.UserFirstName == "Admin" || usr.UserName == "Admin")
            {
                <td><em>Cannot remove Admin</em></td>
            }
            else
            {
                <td>
                    <form asp-action="deleteUser" method="post" asp-controller="Administration">
                        <button class="btn btn-danger" type="submit">Remove</button>
                        <input type="hidden" value="@usr.Id" name="userId" />
                    </form>
                </td>
            }
        </tr>
        }
    </tbody>
</table>
