@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data

@model IEnumerable<IdentityRole>
<br />
<br />

@{
    ViewBag.Title = "All Roles";
}

@if (Model.Any())
{
    <h1 class="text-center">Roles</h1>
    <p>By default, newly registered users do not have "Researcher" or "Admin" rights.
    To add or remove users to a role, select the view summary option for the desired role 
    where you will then be able to view, add, and remove users from a role.</p>
    <br />
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="h5">
                <td>Role</td>
                <td>Id</td>
                <td>Role Summary</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td><p class="card-title h6">@role.Name</p></td>
                    <td>@role.Id</td>
                    <td><a class="btn btn-info" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">View</a></td>
                    @if (role.Name == "SuperUser" || role.Name == "Admin")
                    {
                        <td><em>Cannot remove Admin</em></td>
                    }
                    else
                    {
                        <td>
                            <form asp-action="deleteRole" method="post" asp-controller="Administration">
                            <button class="btn btn-danger" type="submit">Remove</button>
                            <input type="hidden" value="@role.Id" name="roleId" />
                            </form>
                        </td>
                    }
                        
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a class="btn btn-secondary" style="width:auto"
       asp-controller="Administration" asp-action="CreateRole">Create New Role</a>
    
                @*<form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">*@

                @*<span id="confirmDeleteSpan_@role.Id" style="display:none">
            <span>Are you sure you want to delete?</span>
            <button type="submit" class="btn btn-primary">Yes</button>
            <a href="#" class="btn btn-primary" onclick="confimaDelete('@role.Id', false)">No</a>
        </span>
        <span id="deleteSpan_@role.Id">
            <a href="#" class="btn btn-primary"
               onclick="confirmDelete('@role.Id', true)">Delete</a>
        </span>*@
                @*</form>*@
}

else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">Create Role</a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/site.js"></script>
}