
@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<FagElGamousUser> SignInManager
@inject UserManager<FagElGamousUser> UserManager

@model ArtifactViewModel

<br />
<br />
<form method="get" asp-controller="Home" asp-action="SingleBurial">
    <input type="hidden" value="@Model.Burial.BurialId" name="BurialId" />
    <button type="submit" style="font-size:18px" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Burial Details</button>
</form>

<div class="text-center">
    <h1>Artifacts</h1>
    <h3>@Model.Location.LocationString #@Model.Burial.BurialNumber</h3>
    <br />
    @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
    {
        <form method="get" asp-controller="Home" asp-action="AddArtifact">
            <button class="btn btn-secondary" type="submit">Add New Artifact</button>
        </form>
    }
    <br />
</div>
<br />

@if (Model.Artifacts.Count() <= 0)
{
    <p class="text-center">This burial does not have any artifacts.</p>
}

else
{
    @foreach (var a in Model.Artifacts)
    {
        <div class="card mx-auto" style="width: 38rem;">
            <div class="card-body">
                <p class="card-title h5">@a.ArtifactDescription</p>

                <div class="btn-toolbar float-right">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
                    {
                        <form method="get" asp-controller="Home" asp-action="EditArtifact">
                            <input type="hidden" name="ArtifactId" value="@a.ArtifactId" />
                            <button class="btn btn-info mr-2" type="submit">Edit</button>
                        </form>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, "adminPolicy")).Succeeded)
                    {
                        <form method="post" asp-controller="Home" asp-action="DeleteArtifact">
                            <input type="hidden" name="ArtifactId" value="@a.ArtifactId" />
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    }

                </div>

            </div>
        </div>
        <br />
    }

    <br />
    <br />

    <br />
    <br />

}
