@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<FagElGamousUser> SignInManager
@inject UserManager<FagElGamousUser> UserManager

@model SummaryPageViewModel
@*Not Exactly Sure What we need to put on this page but probably just the majority of the Essential Exhumation Data.*@
<br />
<br />

<form method="get" asp-controller="Home" asp-action="Filter">
    <label name="LocationId">Location</label>
    <select name="LocationId">
        <option value="" selected disabled>All</option>
        @foreach (Location l in Model.Locations)
        {
            <option value="@l.LocationId">@l.LocationString</option>
        }
    </select>
    <label name="Age">Age</label>
    <select name="Age">
        <option value="All" selected>All</option>
        <option value="A">A (Adult)</option>
        <option value="C">C (Child)</option>
        <option value="N/I">NI (Neonate/Infant)</option>
    </select>
    <label name="HeadDirection">Head Direction</label>
    <select name="HeadDirection">
        <option value="All" selected>All</option>
        <option value="E">E (East)</option>
        <option value="W">W (West)</option>
    </select>
    <button type="submit">Filter</button>
</form>
<h1 class="text-center">Burials</h1>
<br />
@foreach (var b in Model.Burials)
{
    <div class="card card-outline-primary m-3 p-5 card mb-3">
        <h3 class="text-center font-weight-bold">@b.Location.LocationString #@b.BurialNumber</h3>
        <hr>
        <br />
        @if (b.AgeCodeSingle == "C")
        {
            <p>Age: Child</p>
        }
        else if (b.AgeCodeSingle == "A")
        {
            <p>Age: Adult</p>
        }
        else if (b.AgeCodeSingle == "N/I")
        {
            <p>Age: Neonate/Infant</p>
        }
        else
        {
            <p>Age: No age recorded</p>
        }
        @if (b.HeadDirection == "W")
        {
            <p>Head Direction: West</p>
        }
        else if (b.HeadDirection == "E")
        {
            <p>Head Direction: East</p>
        }
        else
        {
            <p>Head Direction: No Head Direction Recorded</p>
        }



        <!--Buttons to view additional information about burial-->
        <div>
            <form style="display:inline-block" method="get" asp-action="SingleBurial" asp-controller="Home">
                <input type="hidden" name="BurialId" value="@b.BurialId" />
                <button class="btn btn-secondary" type="submit">More Details</button>
            </form>
             
            <div class="btn-toolbar float-right">
                @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
                {
                    <form style="display:inline-block" class="float-right" method="get" asp-action="EditBurial" asp-controller="Home">
                        <input type="hidden" name="BurialId" value="@b.BurialId" />
                        <button class="btn btn-info mr-2" type="submit">Edit</button>
                    </form>
                }

                @if ((await AuthorizationService.AuthorizeAsync(User, "adminPolicy")).Succeeded)
                {
                    <form style="display:inline-block" class="float-right" method="post" asp-action="DeleteBurial" asp-controller="Home">
                        <input type="hidden" name="BurialId" value="@b.BurialId" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                }
            </div>
        </div>
    </div>
    <br />
}

<div page-info="@Model.PageNumberingInfo"
     page-action="Burial"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary">

</div>
