@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IQueryable<Burial>
@*Not Exactly Sure What we need to put on this page but probably just the majority of the Essential Exhumation Data.*@
<br />
<br />
@*@foreach (var l in Model)
    {
        @foreach(var b in l.Burial)
        {
            <p>@l.LocationString @b.BurialNumber</p>
        }
    }*@

<h1 class="text-center">Burials</h1>
<br />
@foreach (var b in Model)
{
<div class="card card-outline-primary m-3 p-5 card mb-3">
    <h3 class="text-center font-weight-bold">@b.Location.LocationString #@b.BurialNumber</h3>
    <hr>

    <div class="row">
        <!--Info about each burial inside bootstrap card-->
        <div class="col">
            <br />
            <h5>Burial Metrics</h5>
            <p>South to Head: @b.SouthToHead meters </p>
            <p>South to Feet: @b.SouthToFeet meters </p>
            <p>West to Head: @b.WestToHead meters </p>
            <p>West to Feet: @b.WestToFeet meters </p>
            <p>Burial Depth: @b.BurialDepth meters </p>
            <p>Length of Remains: @b.LengthOfRemains meters </p>
            <br />
        </div>
        <div class="col">
            <br />
            <h5>Observation</h5>
            <p>Photo</p>
            @if (b.ArtifactFound == true)
            {
                <p>Artifact Found: Yes</p>
            }
            else
            {
                <p>Artifact Found: No</p>
            }
            <br />
        </div>

        <div class="col">
            <br />
            <h5>Additional Information</h5>
            <p>Shaft</p>
            <p>Hair Color: @b.HairColor</p>
            <p>Age Code: @b.AgeCodeSingle</p>
            @if (b.TextileTaken == true)
            {
                <p>Textile Taken: Yes</p>
            }
            else
            {
                <p>Textile Taken: No</p>
            }
            <p>Initials of Data Entry Expert: @b.InitialsOfDataEntryExpert</p>
            <p>Date Found: @b.MonthFound/@b.DayFound/@b.YearFound</p>
        </div>
    </div>
    <!--Buttons to view additional information about burial-->
    <div>
        <form style="display:inline-block" method="get" asp-action="Artifact" asp-controller="Home">
            <input type="hidden" name="BurialId" value="@b.BurialId" />
            <button class="btn btn-secondary" type="submit">Artifacts</button>
        </form>
        <form style="display:inline-block" method="get" asp-action="BiologicalSample" asp-controller="Home">
            <input type="hidden" name="BurialId" value="@b.BurialId" />
            <button class="btn btn-secondary" type="submit">Biological Samples</button>
        </form>
        <form style="display:inline-block" method="get" asp-action="C14Sample" asp-controller="Home">
            <input type="hidden" name="BurialId" value="@b.BurialId" />
            <button class="btn btn-secondary" type="submit">C14 Samples</button>
        </form>
    </div>
</div>
    <br />

}