@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<FagElGamousUser> SignInManager
@inject UserManager<FagElGamousUser> UserManager

@model C14SampleViewModel
<br />
<br />
<form method="get" asp-controller="Home" asp-action="SingleBurial">
    <input type="hidden" value="@Model.Burial.BurialId" name="BurialId" />
    <button type="submit" style="font-size:18px" class="btn btn-secondary"><i class="fa fa-arrow-circle-left"></i> Burial Details</button>
</form>
<div class="text-center">
    <h1>C14 Samples</h1>
    <h3>@Model.Location.LocationString #@Model.Burial.BurialNumber</h3>
    <br />
    @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
    {
        <form method="get" asp-controller="Home" asp-action="AddC14">
            <button class="btn btn-secondary" type="submit">Add C14 Sample</button>
        </form>
    }
    <br />
</div>
<br />


@if (Model.C14Samples.Count() <= 0)
{
    <p class="text-center">This burial does not have any C14 samples.</p>
}
else
{
    @foreach (var c in Model.C14Samples)
    {
        <div class="card mx-auto">
            <div class="card-body">
                <p class="card-text">Rack Number: @c.RackNum</p>
                <p class="card-text">Tube Number: @c.TubeNum</p>
                <p class="card-text">Description: @c.Description</p>
                <p class="card-text">Location: @c.Location</p>
                <p class="card-text">Questions: @c.Questions</p>
                <p class="card-text">Conventional 14C age BP: @c.Conventia14cAgeBp</p>
                @if (c._14cCalendarDate < 0)
                {
                    <p class="card-text">14C Calendar Date: @(c._14cCalendarDate * (-1)) BC</p>
                }
                else
                {
                    <p class="card-text">14C Calendar Date: @c._14cCalendarDate</p>
                }
                @if (c.Calibrated95CalendarDateMax < 0)
                {
                    <p class="card-text">Calibrated 95% Calendar Date Max: @(c.Calibrated95CalendarDateMax * (-1)) BC</p>
                }
                else
                {
                    <p class="card-text">Calibrated 95% Calendar Date Max: @(c.Calibrated95CalendarDateMax)</p>
                }
                @if (c.Calibrated95CalendarDateMin < 0)
                {
                    <p class="card-text">Calibrated 95% Calendar Date Min: @(c.Calibrated95CalendarDateMin * (-1)) BC</p>
                }
                else
                {
                    <p class="card-text">Calibrated 95% Calendar Date Min: @(c.Calibrated95CalendarDateMin)</p>
                }
                <p class="card-text">Calibrated 95% Calendar Date Span: @(c.Calibrated95CalendarDateSpan)</p>
                <p class="card-text">Calibrated 95% Calendar Date Average: @c.Calibrated95CalendarDateAvg</p>
                <p class="card-text">Category: @c.Category</p>
                <p class="card-text">Notes: @c.Notes</p>

                <div class="btn-toolbar float-right">
                    @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
                    {
                        <form method="get" asp-controller="Home" asp-action="EditC14Sample">
                            <input type="hidden" name="C14Id" value="@c.C14SampleId" />
                            <button class="btn btn-info mr-2" type="submit">Edit</button>
                        </form>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(User, "adminPolicy")).Succeeded)
                    {
                        <form method="post" asp-controller="Home" asp-action="DeleteC14Sample">
                            <input type="hidden" name="C14Id" value="@c.C14SampleId" />
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    }

                </div>
                <br />
            </div>
        </div>
        <br />
    }
}


