@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<FagElGamousUser> SignInManager
@inject UserManager<FagElGamousUser> UserManager

@model SummaryPageViewModel
<br />
<br />
<h1 class="text-center">View Burials</h1>
<br />
<br />

<div class="row">

    <!--Filter form-->
    <div class="col-3">
        <form method="get" asp-controller="Home" asp-action="Filter">

            <div class="form-group">
                <label name="Location">Location</label>
                <select class="form-control js-example-basic-single search" name="LocationId" asp-for="@Model.LocationId">
                    <option value="" selected>All</option>
                    @foreach (Location l in Model.Locations)
                    {
                        <option value="@l.LocationId">@l.LocationString</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label name="Age">Age</label>
                <select class="form-control" name="Age" asp-for="@Model.Age">
                    <option value="All" selected>All</option>
                    <option value="A">Adult</option>
                    <option value="C">Child</option>
                    <option value="N/I">Neonate/Infant</option>
                </select>
            </div>

            <div class="form-group">
                <label name="HeadDirection">All</label>
                <select class="form-control" name="HeadDirection" asp-for="@Model.HeadDirection">
                    <option value="All" selected>All</option>
                    <option value="E">East</option>
                    <option value="W">West</option>
                </select>
            </div>

            <button class="btn btn-secondary" type="submit">Filter</button>
            <a class="btn btn-info" asp-controller="Home" asp-action="Burial">Clear</a>
        </form>
    </div>

    <div class="col-1"></div>

    <div class="col-8">
        @foreach (var b in Model.Burials)
        {
            <div class="card card-outline-primary p-4 card">
                <div class="row">
                    <h4 class="col">@b.Location.LocationString #@b.BurialNumber</h4>

                    <div class="col">
                        <div class="btn-toolbar float-right">
                            @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
                            {
                                <form method="get" asp-action="EditBurial" asp-controller="Home">
                                    <input type="hidden" name="BurialId" value="@b.BurialId" />
                                    <button class="btn btn-info mr-2" type="submit">Edit</button>
                                </form>
                            }

                            @if ((await AuthorizationService.AuthorizeAsync(User, "adminPolicy")).Succeeded)
                            {
                                <form method="post" asp-action="DeleteBurial" asp-controller="Home">
                                    <input type="hidden" name="BurialId" value="@b.BurialId" />
                                    <button class="btn btn-danger" type="submit">Delete</button>
                                </form>
                            }
                        </div>
                    </div>
                </div>

                <hr>
                @if (b.AgeCodeSingle == "C")
                {
                    <p>Age: Child</p>
                }
                else if (b.AgeCodeSingle == "A")
                {
                    <p>Age: Adult</p>
                }
                else if (b.AgeCodeSingle == "N/I")
                {
                    <p>Age: Neonate/Infant</p>
                }
                else
                {
                    <p>Age: No age recorded</p>
                }
                @if (b.HeadDirection == "W")
                {
                    <p>Head Direction: West</p>
                }
                else if (b.HeadDirection == "E")
                {
                    <p>Head Direction: East</p>
                }
                else
                {
                    <p>Head Direction: No Head Direction Recorded</p>
                }

                <div style="display:flex; align-items:flex-end; flex-direction:column;">
                    <form style="display:inline-block" method="get" asp-action="SingleBurial" asp-controller="Home">
                        <input type="hidden" name="BurialId" value="@b.BurialId" />
                        <button class="btn btn-secondary" type="submit">More Details</button>
                    </form>
                </div>

            </div>
            <br />

        }
        <div page-info="@Model.PageNumberingInfo" page-url-LocationId="@Model.LocationId" page-url-Age="@Model.Age" page-url-HeadDirection="@Model.HeadDirection"
             page-classes-enabled="true"
             page-class="btn mr-2 ml-2"
             page-class-normal="btn-outline-dark mr-2 ml-2"
             page-class-selected="btn-secondary mr-2 ml-2">
        </div>
    </div>
</div>

