@using Microsoft.AspNetCore.Identity
@using FagElGamous.Areas.Identity.Data
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject SignInManager<FagElGamousUser> SignInManager
@inject UserManager<FagElGamousUser> UserManager

@model SavePhotoViewModel
<br />
<br />
<h1 class="text-center font-weight-bold">@Model.Burial.Location.LocationString #@Model.Burial.BurialNumber</h1>
<br />
<br />
<div class="card card-outline-primary p-4 mb-3">
    <div>
        <div class="btn-toolbar float-right">
            @if ((await AuthorizationService.AuthorizeAsync(User, "researcherPolicy")).Succeeded)
            {
                <form style="display:inline-block" class="float-right" method="get" asp-action="EditBurial" asp-controller="Home">
                    <input type="hidden" name="BurialId" value="@Model.Burial.BurialId" />
                    <button class="btn btn-info mr-2" type="submit">Edit</button>
                </form>
            }

            @if ((await AuthorizationService.AuthorizeAsync(User, "adminPolicy")).Succeeded)
            {
                <form style="display:inline-block" class="float-right" method="post" asp-action="DeleteBurial" asp-controller="Home">
                    <input type="hidden" name="BurialId" value="@Model.Burial.BurialId" />
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            }
        </div>
    </div>
    <hr />
    <div class="row">

        <!--Info about each burial inside bootstrap card-->
        <div class="col">
            <h5>Metrics</h5>
            <p>South to Head: @Model.Burial.SouthToHead meters </p>
            <p>South to Feet: @Model.Burial.SouthToFeet meters </p>
            <p>West to Head: @Model.Burial.WestToHead meters </p>
            <p>West to Feet: @Model.Burial.WestToFeet meters </p>
            <p>Burial Depth: @Model.Burial.BurialDepth meters </p>
            <p>Length of Remains: @Model.Burial.LengthOfRemains meters </p>
            <br />
        </div>
        <div class="col">
            <h5>Observation</h5>
            <p>Photo</p>
            @if (Model.Burial.ArtifactFound == true)
            {
                <p>Artifact Found: Yes</p>
            }
            else
            {
                <p>Artifact Found: No</p>
            }
            <br />
        </div>

        <div class="col">
            <h5>Additional Information</h5>
            @if (Model.Burial.HeadDirection == "W")
            {
                <p>Head Direction: West</p>
            }
            else if (Model.Burial.HeadDirection == "E")
            {
                <p>Head Direction: East</p>
            }
            else
            {
                <p>Head Direction: No Head Direction Recorded</p>
            }
            <p>Hair Color: @Model.Burial.HairColor</p>

            @if (Model.Burial.AgeCodeSingle == "C")
            {
                <p>Age: Child</p>
            }
            else if (Model.Burial.AgeCodeSingle == "A")
            {
                <p>Age: Adult</p>
            }
            else if (Model.Burial.AgeCodeSingle == "N/I")
            {
                <p>Age: Neonate/Infant</p>
            }
            else
            {
                <p>Age: No age recorded</p>
            }


            @if (Model.Burial.TextileTaken == true)
            {
                <p>Textile Taken: Yes</p>
            }
            else
            {
                <p>Textile Taken: No</p>
            }
            <p>Initials of Data Entry Expert: @Model.Burial.InitialsOfDataEntryExpert</p>
            @if (Model.Burial.MonthFound == null)
            {
                <p>Date Found: No date recorded</p>
            }
            else
            {
                <p>Date Found: @Model.Burial.MonthFound/@Model.Burial.DayFound/@Model.Burial.YearFound</p>
            }
        </div>
    </div>

</div>

<!--Buttons to view additional information about burial-->
<div>
    <form style="display:inline-block" method="get" asp-action="Artifact" asp-controller="Home">
        <input type="hidden" name="BurialId" value="@Model.Burial.BurialId" />
        <button class="btn btn-secondary" type="submit">Artifacts</button>
    </form>
    <form style="display:inline-block" method="get" asp-action="BiologicalSample" asp-controller="Home">
        <input type="hidden" name="BurialId" value="@Model.Burial.BurialId" />
        <button class="btn btn-secondary" type="submit">Biological Samples</button>
    </form>
    <form style="display:inline-block" method="get" asp-action="C14Sample" asp-controller="Home">
        <input type="hidden" name="BurialId" value="@Model.Burial.BurialId" />
        <button class="btn btn-secondary" type="submit">C14 Samples</button>
    </form>
</div>

<br />
<br />
<h3 class="text-center">Additional Documents</h3>
<br />

<form method="post" asp-action="SavePhotos" enctype="multipart/form-data">

    <div class="custom-file col-3">
        <input type="hidden" id="burialId" name="burialId" value="@Model.Burial.BurialId" />
        <label class="custom-file-label" asp-for="PhotoFile">Upload Document</label> <br />
        <input class="custom-file-input" type="file" asp-for="PhotoFile" />
    </div>


    <div class="form-group">
        <label asp-for="Type">Type</label>
        <select class="form-control col-3" asp-for="Type">
            <option value="Photo" selected>Photo</option>
            <option value="FieldBook">FieldBook</option>
        </select>
    </div>


    <button class="btn btn-secondary" type="submit">Upload</button>
</form>
<div asp-validation-summary="All"></div>
<br />

<div class="row">

    <!--Display all of the photos-->
    <div class="col text-center">
        <h3>Photos</h3><br />
        @foreach (var f in Model.Files)
        {
            @if (f.Type == "Photo")
            {
                <img src="@f.FileUrl" width="500" />
                <br />
                <br />
            }
        }
    </div>

    <!--Display all of the fieldbooks-->
    <div class="col text-center">
        <h3>Field Books</h3><br />
        @foreach (var f in Model.Files)
        {
            @if (f.Type == "FieldBook")
            {
                <a class="nav-link text-dark" href="@f.FileUrl" download target="_blank">FieldBook @f.FileId</a>
                <br />
            }
        }
    </div>
    <br />

</div>

